/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    background-color: #fafbfc;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    overflow-x: scroll;
    overflow-y: scroll;
    clear: both;
}

a {
    color: #8085C1;
    text-decoration: none;
    border: none;
}

a img {
    outline: none;
}

h1, h2, h3 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

a:hover {
    color: #555;
    border: none;
}

.separator {
    color: #555;
}

#logo {
    max-width: 200px;
    border-radius: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
    width: 100%;
    line-height: 1.25em;
    clear: both;
}

.title {
    display: inline-block;
    text-align: center;
    line-height: 25px;
}

.posts {
    border-top: 1px solid #e7e7e7;
    margin-top: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.25em;
}

.content {
    vertical-align: top;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-left: 2.125em;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/
.colophon {
    margin-top: 1.5em;
    margin-bottom: 1.45em;
    border-top: 1px dotted #e7e7e7;
}

.colophon p {
    margin-top: 1.25em;
    font-size: 0.95em;
    color: #777;
}
