---
layout: default
title: "Welcome to Zhehuan's homepage!"
---

<div class="main-page">
  <h2>{{page.title}}</h2>
  <div class="main-item">
    <big><h3>About Me</h3></big>
    <p class="main-text">
      I am a third-year undergraduate student majoring in Computer Science at Peking University.
      My research interests include computer vision, robotics and intelligent multimedia.
      I am currently an intern in <a href="https://cfcs.pku.edu.cn/english/">Center on Frontiers of Computing Studies (CFCS)</a>,
      Peking University, supervised by <a href="https://zsdonghao.github.io/">Prof. Hao Dong</a>.
    </p>
  </div>
  <div class="main-item">
    <big><h3>Publications</h3></big>
    <p class="main-text">
    </p>
  </div>
  <div class="main-item">
    <big><h3>Selected Honors and Awards</h3></big>
    <div class="main-text">
      <ul>
        <li> Peking University Scholarship Third Prize, <i>Peking University, 2021</i></li>
        <li> Peking University Merit Student, <i>Peking University, 2021</i></li>
        <li> Bronze medal in National Olympiad in Informatics (NOI), <i>China Computer Federation, 2018</i></li>
        <li> Bronze medal in Asia-Pacific Informatics Olympiad (APIO), <i>China Computer Federation, 2018</i></li>
        <li> First prize in National Olympiad in Informatics in Provinces (NOIP), <i>China Computer Federation, 2016, 2017, 2018</i></li>
      </ul>
    </div>
  </div>
</div>
<!-- {% assign page = site.posts.first %} -->
<!-- {% for post in site.posts %}
  <li class="post-link">
    <a class="post-title" href="{{ post.url }}">
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {{ post.title }}
      {{ post.url }}
    </a>
  </li>
{% endfor %} -->
<!-- {% assign content = page.content %} -->
<!-- {% include post.html %} -->
