---
layout: default
title: "Zhehuan Chen - Homepage"
custom_css:
  - "/css/index.css"
  - "/css/info.css"
---

<div class="main-page">
  <h2>{{page.title}}</h2>

  <div class="main-item">
    <h3 id="About Me">About Me</h3>
    <p class="main-text">
      I am a first-year MSc student in Computer Science at the University of Massachusetts Amherst,
      under the guidance of <span class="hyperlink" data-name="Chuang Gan">Prof. Chuang Gan</span>. My research interests span Robotics, Computer Graphics,
      and Data Intelligence. Prior to my graduate studies, I earned my bachelor's degree from Peking University,
      where I was an undergraduate member of the <span class="hyperlink" data-name="PKU CFCS">Center on Frontiers of Computing Studies (CFCS)</span>,
      mentored by <span class="hyperlink" data-name="Hao Dong">Prof. Hao Dong</span>.
    </p>
  </div>

  <div class="main-item">
    <h3 id="News">NEWS</h3>
    <div class="main-text">
      <ul>
        {% for post in site.categories.news %}
          <li>{{ post.content }}</li>
        {% endfor %}
        <!-- <li> Dec 2024: Our project <span class="hyperlink" data-name="Genesis">Genesis</span> was released!!</i></li> -->
      </ul>
    </div>
  </div>

  <div class="main-item">
    <h3 id="Publications">Publications</h3>
    <div class="main-text">
      {% for post in site.categories.publications %}
        {{ post.content }}
      {% endfor %}
    </div>
  </div>

  <!-- Other Projects like Ruihai -->

  <div class="main-item" style="padding-top: 3em;">
    <h3 id="Honors">Honors and Awards</h3>
    <div class="main-text">
      <ul>
        {% for post in site.categories.awards %}
          <li>{{ post.content }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="main-item">
    <h3 id="Internships">Internships</h3>
    <div class="main-text">
      <ul>
        {% for post in site.categories.internships %}
          <li>{{ post.content }}</li>
        {% endfor %}
        <!-- <li> <i>Jul 2022 - Apr 2023</i>, Data Knowledge Intelligence Group, Microsoft Research Asia (MSRA), </li> -->
      </ul>
    </div>
  </div>

  <div class="main-item">
    <h3 id="Educations">Educations</h3>
    <div class="main-text">
      <ul>
        {% for post in site.categories.educations %}
          <li>{{ post.content }}</li>
        {% endfor %}
        <!-- <li> <i>Jul 2022 - Apr 2023</i>, Data Knowledge Intelligence Group, Microsoft Research Asia (MSRA), supervised by <span class="hyperlink" data-name="Xiao Lv">Xiao Lv</span></li> -->
      </ul>
    </div>
  </div>

</div>
